# General Python ignore
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
venv/
env/
*.env

# Codebases Testing On
RIOT/
output/

# Repo Specific
lafvt_output/
.function_cache
CVEfixes.db 
